$blue: #0061f2;

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #444;
  font-size: .3rem;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.soft-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.7);
  z-index: 1000001;
}

.layout {
  background: #eff3f9;
  min-height: 92vh;
}

.header {
  box-shadow: 0 .15rem 1.75rem 0 rgba(31,45,65,.15);
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  height: 4rem;
  line-height: 4rem;
  z-index: 11;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  color: #1f2d41;
  width: 13rem;
  padding: 5rem 1rem 2rem;
  background: #fff;
  z-index: 10;
  box-shadow: 0.15rem 0 1.75rem 0 rgba(31,45,65,.15);
}

.container {
  margin: 4rem 0 0 14rem;
  background: #fff;
}

.callout {
  height: 40vh;
  width: 100%;
  background: linear-gradient(135deg,#0061f2,rgba(105,0,199,.8));
  line-height: 40vh;
  padding: 0 4rem;
  color: #fff;
}